.button {
  border: none;
  background: none;
  margin: 30px auto;
  transition: 0.2s;
  a {
    padding: 10px 20px;
    border: 1px solid $color1;
    color: $black1;
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: 0 0 5px $color1;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 0 10px $color1;
    }
  }
  &:hover {
    transform: scale(1.02);
  }
}
