header {
  padding: 50px 0 20px;
  background: $black1;
  border-bottom: 2px solid $color1;

  .logo {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      filter: drop-shadow(0 0 10px $color1);

      img {
        width: 50%;
        filter: invert(100%);
        padding-bottom: 20px;

        @media screen and (max-width: 850px) {
          width: 100%;
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }
    }
  }

  nav {
    .menuIcons {
      display: none;
      // margin-bottom: 30px;

      @media screen and (max-width: 850px) {
        display: block;

        #openIcon {
          display: block;
        }

        #closeIcon {
          display: none;
        }
      }

      i {
        font-size: 1.7rem;
        color: $white1;

        &:hover {
          text-shadow: 0 0 10px $color1;
          cursor: pointer;
        }
      }
    }

    ul {
      display: block;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media screen and (max-width: 850px) {
        display: none;
      }

      .liNav {
        position: relative;
        padding: 10px;

        a {
          color: $white1;
          font-size: 1.1rem;
          text-transform: uppercase;
        }

        .liNavContainer {
          display: none;
          margin-top: 10px;
          border-top: 2px solid $color1;
          z-index: 100000;

          ul {
            list-style: none;
            width: 250px;

            @media screen and (max-width: 850px) {
              width: 87vw;
              margin: 0 auto;
            }

            li {
              background: $black1;
              width: 100%;
              border-bottom: 1px solid $color1;

              a {
                padding: 15px 20px;
                display: flex;
                height: 100%;
                width: 100%;
                font-size: 1rem;
                text-transform: none;
                color: $white1;

                &:hover {
                  background: $color1;
                }
              }

              &:hover {
                a {
                  color: $black1;
                }
              }
            }
          }
        }

        &:hover {
          @media screen and (max-width: 850px) {
            border: none;
          }

          a {
            text-shadow: 0 0 10px $color1;
          }

          .liNavContainer {
            display: block;
            position: absolute;

            ul {
              display: flex;
              flex-direction: column;
              align-items: start;
              text-align: left;

              a {
                text-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
