@font-face {
  font-family: "Breathing Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Breathing Regular"), url("../fonts/Breathing.woff") format("woff");
}

$font1: "Breathing Regular", "Trebuchet MS", "Lucida Sans Unicode",
  "Lucida Grande", "Lucida Sans", Arial, sans-serif;

$font2: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;

$black1: #000000;
$white1: #ffffff;
$color1: #ffb6c1;
$color2: #daa520;
$color4: #efefef;
$borderLi: #a9a9a9;
$text: #333;
$whiteBg: rgba(255, 255, 255, 0.7);
$blackBg: rgba(0, 0, 0, 0.8);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font2;
  text-align: center;
  color: $text;
  font-size: 1rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font2;
  color: $black1;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 30px;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color1;
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 250px;
    margin-left: 10px;
  }
}

a,
a:visited {
  text-decoration: none;
}
