$font1: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;

$black1: black;
$white1: white;
$color1: goldenrod;
$color2: #000083;
$color3: #b50000;
$color4: #f1f1f1;
$borderLi: darkgray;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font1;
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a,
a:visited {
  text-decoration: none;
}
