@font-face {
  font-family: "Breathing Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Breathing Regular"), url("../fonts/Breathing.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: #333;
  font-size: 1rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Breathing Regular", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

a,
a:visited {
  text-decoration: none;
}

header {
  padding: 20px 0;
  background: #ffffff;
}
header .logo a {
  color: #ffb6c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .logo a img {
  width: 50%;
}
header .logo a:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
header nav .menuIcons {
  display: none;
}
@media screen and (max-width: 850px) {
  header nav .menuIcons {
    display: block;
  }
  header nav .menuIcons #openIcon {
    display: block;
  }
  header nav .menuIcons #closeIcon {
    display: none;
  }
}
header nav .menuIcons i {
  font-size: 1.7rem;
  color: #000000;
}
header nav .menuIcons i:hover {
  color: #ffb6c1;
  text-shadow: 1px 1px 1px #000000;
  cursor: pointer;
}
header nav ul {
  display: block;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  header nav ul {
    display: none;
  }
}
header nav ul .liNav {
  position: relative;
  padding: 10px;
}
header nav ul .liNav a {
  color: #000000;
  font-size: 1.1rem;
  text-transform: uppercase;
}
header nav ul .liNav .liNavContainer {
  display: none;
  margin-top: 10px;
  border-top: 2px solid #ffb6c1;
}
@media screen and (max-width: 850px) {
  header nav ul .liNav .liNavContainer {
    z-index: 100000;
  }
}
header nav ul .liNav .liNavContainer ul {
  list-style: none;
  width: 250px;
}
header nav ul .liNav .liNavContainer ul li {
  background: #efefef;
  width: 100%;
  border-bottom: 1px solid #a9a9a9;
}
header nav ul .liNav .liNavContainer ul li a {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  text-transform: none;
}
header nav ul .liNav .liNavContainer ul li a:hover {
  background: #ffb6c1;
}
header nav ul .liNav .liNavContainer ul li:hover a {
  color: #000000;
}
@media screen and (max-width: 850px) {
  header nav ul .liNav:hover {
    border: none;
  }
}
header nav ul .liNav:hover .liNavContainer {
  display: block;
  position: absolute;
}
header nav ul .liNav:hover .liNavContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
}

section {
  padding: 50px 0;
}/*# sourceMappingURL=index.css.map */