@font-face {
  font-family: "parisienne";
  src: url(../fonts/josephsophia.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: parisienne, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: #333;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a,
a:visited {
  text-decoration: none;
}

header {
  padding: 20px 0;
  background: #f1f1f1;
}
header h1 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 20px;
}
header h1 a {
  color: #ff1493;
  text-shadow: 1px 1px 1px #000000;
}
header h1:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
header h1:hover a {
  color: #000000;
  text-shadow: 1px 1px 1px #ff1493;
}
header nav .menuIcons {
  display: none;
}
@media screen and (max-width: 850px) {
  header nav .menuIcons {
    display: block;
  }
  header nav .menuIcons #openIcon {
    display: block;
  }
  header nav .menuIcons #closeIcon {
    display: none;
  }
}
header nav .menuIcons i {
  font-size: 1.7rem;
  color: #000000;
  text-shadow: 1px 1px 1px #ff1493;
}
header nav .menuIcons i:hover {
  color: #ff1493;
  cursor: pointer;
}
header nav ul {
  display: block;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  header nav ul {
    display: none;
  }
}
header nav ul .liNav {
  position: relative;
  padding: 10px;
}
header nav ul .liNav a {
  color: #000000;
}
header nav ul .liNav .liNavContainer {
  display: none;
  margin-top: 10px;
  border-top: 2px solid #ff1493;
}
@media screen and (max-width: 850px) {
  header nav ul .liNav .liNavContainer {
    z-index: 100000;
  }
}
header nav ul .liNav .liNavContainer ul {
  list-style: none;
  width: 250px;
}
header nav ul .liNav .liNavContainer ul li {
  background: #f1f1f1;
  width: 100%;
  border-bottom: 1px solid darkgray;
}
header nav ul .liNav .liNavContainer ul li a {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}
header nav ul .liNav .liNavContainer ul li a:hover {
  background: #ff1493;
}
header nav ul .liNav .liNavContainer ul li:hover a {
  color: #000000;
}
header nav ul .liNav:hover {
  border: 1px solid #ff1493;
}
@media screen and (max-width: 850px) {
  header nav ul .liNav:hover {
    border: none;
  }
}
header nav ul .liNav:hover .liNavContainer {
  display: block;
  position: absolute;
}
header nav ul .liNav:hover .liNavContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
}

section {
  padding: 50px 0;
}/*# sourceMappingURL=index.css.map */