.hero {
  background: url(../img/1.jpg) center/cover;
  padding: 0;
  border-bottom: 2px solid $color1;

  .container {
    width: 100%;
    background: $pinkBg;
    padding: 150px 50px;

    img {
      display: block;
      width: 50%;
      margin: 0 auto;
      filter: drop-shadow(0 0 5px $white1);

      @media screen and (max-width: 850px) {
        width: 100%;
      }
    }

    h2 {
      padding-bottom: 30px;
      text-transform: none;
      font-size: 1.4rem;
      text-shadow: 0 0 5px $white1;
    }
  }
}

.mot {
  .container {
    box-shadow: 0 0 10px $color1;
    padding: 50px;

    p {
      i {
        color: $color1;
        font-size: 1.5rem;
      }

      .signature {
        padding: 30px 0 5px;
        display: block;
        font-family: $font1;
        font-size: 1.5rem;
      }

      .role {
        font-size: 0.9rem;
      }
    }
  }
}

.actus {
  background: url(../img/equiloveuse-icon-bg.png) repeat center/contain;
  background-size: 100px;
  margin: 0;
  padding: 0;

  .container {
    width: 100%;
    background: $pinkBg2;
    padding: 50px;
  }

  h2,
  p {
    padding-bottom: 30px;
    text-shadow: 0 0 5px $white1;
  }

  .actusContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    div {
      border: 1px solid $color1;
      overflow: hidden;
      transition: 0.2s;
      background: $white1;

      &:hover {
        box-shadow: 0 0 10px $color1;

        img,
        h3 {
          transform: scale(1.05);
        }
      }
      a {
        img {
          width: 100%;
          transition: 0.2s;
        }

        h3 {
          margin: 30px;
          padding-bottom: 30px;
          transition: 0.2s;
        }

        p {
          margin: 0 30px;
          color: $text;
        }
      }
    }
  }
}

.articles {
  h2,
  p {
    padding-bottom: 30px;
  }

  p {
    color: $text;
  }

  .articlesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    div {
      border: 1px solid $color1;
      overflow: hidden;
      transition: 0.2s;
      // box-shadow: 0 0 5px $color1;

      &:hover {
        box-shadow: 0 0 10px $color1;

        img,
        h3 {
          transform: scale(1.05);
          // box-sizing: border-box;
        }
      }
      a {
        img {
          width: 100%;
          transition: 0.2s;
        }

        h3 {
          margin: 30px;
          padding-bottom: 30px;
          transition: 0.2s;
        }

        p {
          margin: 0 30px;
        }
      }
    }
  }
}
